{% extends '/nav.html.twig' %}

{% block titre %}Details du numero{% endblock%}

{% block content %}
    <div id="number-app" style="margin-top: 4rem">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Tableau de bord</a></li>
                <li class="breadcrumb-item">Details</li>
                <li class="breadcrumb-item active" aria-current="page">{{ c_number }}</li>
            </ol>
        </nav>



        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-thumbnail" src="/img/{{ c_pic_name }}" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% if c_name == 0 or c_name == "" %}
                                <li class="list-group-item">Nom:  <span id="c_name" class="text-danger text-uppercase">non identifié</span></li>
                            {% else %}
                                <li class="list-group-item">Nom:  <span id="c_name" class="text-uppercase">{{ c_name }}</span></li>
                            {% endif %}
                            <li class="list-group-item">Numéro : <span id="c_number">{{ c_number }}</span></li>
                            <li class="list-group-item">Opérateur:  <span id="c_operator">{{ c_operator }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <button v-on:click="exportToExcel" id="printBtn" class="btn btn-outline-success" style="margin-top: 1rem">
            <i class="fa fa-file-excel"></i>
            Exporter en excel
        </button>


        <h3 style="margin-top: 4rem">Contacts frequents</h3>
        <hr>

        <div class="row">
            <div class="col col-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Filtrer par date</span>
                    <input v-model="date_time_range.range" class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                </div>
            </div>


            <div class="col col-12">

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Numéro</th>
                        <th>Durée totale des communications</th>
                        <th>Nombre de communications</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in frequent_users">
                        <td>${index + 1}</td>
                        <td>${item.num_b}</td>
                        <td>${item.duration}</td>
                        <td>${item.nb}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <h3 style="margin-top: 3rem">Liste des communications</h3>
        <hr>

        <div class="row">
            <div class="col col-s12 col-md-4 col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input @change="filter_by_number"
                           @input="filter_by_number"
                           v-model="number_to_filter"
                           class="form-control" type="search" placeholder="Filtrer numero"
                    >
                </div>
            </div>
            <div class="col col-s12 col-md-4 col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Filtrer par date</span>
                    <input v-model="date_time_range_com.range"  placeholder="Filter par periode" class="form-control" type="text" name="daterange_com" />
                </div>
            </div>

            <div class="col col-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Flux d'appel</th>
                        <th>Date</th>
                        <th>Numero A</th>
                        <th>Numero B</th>
                        <th>Durée</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in pagination_array">
                        <td>${index + 1}</td>
                        <td>${item.dataType}</td>
                        <td>${item.fluxAppel}</td>
                        <td>${item.dayTime}</td>
                        <td>${item.numA}</td>
                        <td>${item.numB}</td>
                        <td>${convert_to_hour(item.duration)}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col col-3"></div>
            <div class="col col-4">
                <nav aria-label="Pagination">
                    <v-pagination v-model="currentPage"
                                  :page-count="totalPages"
                                  :classes="bootstrapPaginationClasses"
                                  :labels="paginationAnchorTexts" uk-margin ></v-pagination>
                </nav>
            </div>
            <div class="col col-5"></div>

        </div>





    </div>



{% endblock %}

{% block bottom_js %}
    <script>
    </script>
    <script  src="{{ asset('/build/js/vue/vue-plain-pagination.min.js') }}"></script>
    <script  src="{{ asset('/build/js/vue/number-details.js') }}"></script>
{% endblock %}