{# /templates/produit.html.twig #}
{% extends '/base.html.twig' %}

{% block titre %}Page Produit{% endblock%}

{% block stylesheets %}
    {{ parent() }}
{% endblock%}

{% block javascripts %}
    {{ parent() }}
{% endblock%}

{% block body %}


    <div class="row">
        <div id="app">

            <div class="row" style="margin-top: 3%">

                <div class="col col-md-12">
                    <h3 class="uk-margin-medium-top" style="text-align: center">
                        ANALYSE CDR
                    </h3>
                </div>
                <div class="col col-md-12">
                    <p class="uk-text-meta " style="text-align: center">
                        Bienvenue ! Cet assistant va vous guider dans l’insertion des données d’entrées pour effectuer
                        l’analyse.
                    </p>
                </div>

            </div>
            <hr>

            {% for message in app.session.flashbag.get('add_c_person') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}!</strong>
                    <button type="button" class="btn-close"  data-bs-dismiss="alert"     aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.session.flashbag.get('remove_c_person') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}!</strong>
                    <button type="button" class="btn-close"  data-bs-dismiss="alert"     aria-label="Close"></button>
                </div>
            {% endfor %}



            <div class="row">
                <div class="col col-md-12 col-lg-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h5 class="card-title text-center text-uppercase">AJOUTER UN SUJET</h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 text-muted text-center"></h6>
                            <div class="card-text">
                                {{ form_start(form) }}
                                    <div class="row">

                                        <div class="col col-7">
                                            {{ form_label(form.c_number, "Numéro de telephone", {'label_attr': {'class': 'c_number_input_label', 'maxlength': 7}}) }}
                                            <div class="input-group input-group-sm mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">+269</span>
                                                </div>
                                                {{ form_widget(form.c_number, {'attr': {'class': 'c_number_input'}}) }}
                                            </div>
                                        </div>

                                        <div class="col col-12">
                                            {{ form_label(form.c_file_name, "Fichier CDR", {'label_attr': {'class': 'c_file_name_input_label','accept':'.csv'}}) }}
                                            <div class="input-group mb-5">
                                                {{ form_widget(form.c_file_name, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="col col-6">
                                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                                <div class="btn-group mr-6" role="group" aria-label="First group">
                                                    {{ form_row(form.cancel,{'attr':{'class': 'btn btn-outline-secondary'}}) }}
                                                </div>
                                                <div class="btn-group mr-6" role="group" aria-label="Third group" style="margin-left: 2rem">
                                                    {{ form_row(form.submit,{'attr':{'class': 'btn btn-outline-success'}}) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-12 col-lg-7">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-center">Récap des infos saisies</h5>
                            <hr>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col col-12">
                                        <table class="table  table-responsive table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th style="width: 20%">Numéro de telephone</th>
                                                <th>Operateur</th>
                                                <th style="width: 40%">Fichier CDR</th>
                                                <th style="width: 20%">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% if c_persons | length > 0 %}
                                                    {% for c_person in c_persons %}
                                                        <tr>
                                                            <td>{{ c_person.cNumber }}</td>
                                                            <td>{{ c_person.cOperator }}</td>
                                                            <td>{{ c_person.cFileName }}</td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col col-lg-6-6">
                                                                        <button class="btn btn-success">
                                                                            <a style="color: white" href="{{ path('home_wizard',{c_number: c_person.cNumber}) }}">
                                                                                <i class="fa fa-pen-fancy">
                                                                                </i>
                                                                            </a>
                                                                        </button>
                                                                    </div>
                                                                    <div class="col col-lg-6">
                                                                        <button class="btn btn-danger">
                                                                            <a style="color: white" href="{{ path('remove_number_wizard',{c_number: c_person.cNumber}) }}">
                                                                                <i class="fa fa-trash">
                                                                                </i>
                                                                            </a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <p class="text-center">Aucun numero n'a été ajouté pour l'instant</p>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col col-lg-12">
                                        {% if c_persons | length > 1 %}
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-outline-info" type="button">
                                                    <a style="color: inherit; text-decoration: inherit" href="{{ path('dump_data') }}">
                                                        <span class="text-uppercase">j'ai terminé je passe au traitement</span>
                                                    </a>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}

{% block bottom_js %}
    <script src="{{ asset('/build/js/vue/wizard-script-vue.js') }}"></script>
{% endblock %}




