{% extends '/nav.html.twig' %}

{% block titre %}Contacts{% endblock%}


{% block content %}

    <nav aria-label="breadcrumb" style="margin-top: 4rem">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active">Matrice des contacts en commun</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col col-12">
            <h4>
                Matrice des contacts en commun
                {% if range[0] is defined %}
                    du le {{ range[0] }} au {{ range[1] }}
                {% endif %}
            </h4>
            <hr>
        </div>
        <div class="col col-12" style="margin-top: 1rem">
            <p class="card-subtitle">
                Combien de contacts ces numeros ont t-ils en commun?
            </p>
        </div>


        <div class="col col-12" style="margin-top: 3rem">
            <a href="{{ link }}" id="printBtn" class="btn btn-outline-success" style="margin-top: 1rem; color: inherit; text-decoration: inherit">
                <i class="fa fa-file-excel"></i>
                Exporter en excel
            </a>
        </div>

        <div class="col col-12" style="margin-top: 1rem">
            <div class="row">
                <div class="col col-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Filtrer par date</span>
                        {% if range[0] is defined %}
                            {% set value =  range[0]~" - "~range[1] %}
                            <div>
                                <input value="{{ value }}" class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                            </div>
                        {% else %}
                            <div>
                                <input class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col col-3" style="margin-left: 1rem">
                        <a id="filter" class="btn btn-outline-info">Filtrer</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-12" style="margin-top: 2rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    {% for num,person in matrices %}
                        <th class="uk-table-expand">
                            <span >{{ num }}</span>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for num,person in matrices %}
                    <tr>
                        <td class="uk-table-expand">
                            <span class="" style="font-size: 0.875rem; color: #999999">{{ num }}</span>
                        </td>
                        {% for assoc,nb in person %}
                            {% if assoc == num %}
                                <td class="uk-table-expand">
                                    <span class="text-danger">N/A</span>
                                </td>
                            {% else %}
                                <td class="uk-table-expand">
                                    {% set data =  "" %}
                                    {% set data =  num~"&"~assoc %}

                                    {% if range[0] is defined %}
                                        <a style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: range[0], end: range[1]}) }}">{{ nb }}</a>
                                    {% else %}
                                        <a style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: 0, end: 0}) }}">{{ nb }}</a>
                                    {% endif %}
                                </td>
                            {% endif%}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container uk-container-large uk-position-relative">
            <article class="uk-article">


                <h3>
                    <a class="uk-link-reset" href="">

                    </a>
                </h3>
                <hr>
                <p class="uk-article-meta"></p>

                <div class="uk-overflow-auto">

                    <div>
                        <form class="uk-form-horizontal">

                            <div style="float: left; display: inline-block;margin-right: 2%">

                            </div>
                            <a id="filter" class="uk-button uk-button-default">Filtrer</a>

                        </form>
                    </div>



                </div>

            </article>
        </div>
    </div>

{% endblock %}

{% block bottom_js %}
    <script>
        jQuery('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            applyButtonClasses: 'btn-primary',
            drops: 'left',
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        }, function(start, end, label) {
            var send = document.getElementById('filter')
            r = start.format('YYYY-MM-DD HH:mm:ss') + '&' + end.format('YYYY-MM-DD HH:mm:ss')
            send.href = '/matrice/contact-communs/'+r
        });
    </script>
{% endblock %}