{% extends '/nav.html.twig' %}

{% block titre %}Contacts{% endblock%}


{% block content %}

    <nav aria-label="breadcrumb" style="margin-top: 4rem">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active">Matrice des contacts en commun</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col col-12">
            <h4>
                Matrice des contacts en commun
                {% if range[0] is defined %}
                    du le {{ range[0] }} au {{ range[1] }}
                {% endif %}
            </h4>
            <hr>
        </div>
        <div class="col col-12" style="margin-top: 1rem">
            <p class="card-subtitle">
                Combien de contacts ces numeros ont t-ils en commun?
            </p>
        </div>


        <div class="col col-12" style="margin-top: 3rem">
            <a href="{{ link }}" id="printBtn" class="btn btn-outline-success" style="margin-top: 1rem; color: inherit; text-decoration: inherit">
                <i class="fa fa-file-excel"></i>
                Exporter en excel
            </a>
        </div>

        <div class="col col-12" style="margin-top: 1rem">
            <div class="row">
                <div class="col col-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Filtrer par date</span>
                        {% if range[0] is defined %}
                            {% set value =  range[0]~" - "~range[1] %}
                            <div>
                                <input value="{{ value }}" class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                            </div>
                        {% else %}
                            <div>
                                <input class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col col-3" style="margin-left: 1rem">
                        <a id="filter" class="btn btn-outline-info">Filtrer</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col col-12" style="margin-top: 2rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    {% for num,person in matrices %}
                        <th class="uk-table-expand">
                            <span >{{ num }}</span>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for num,person in matrices %}
                    <tr>
                        <td class="uk-table-expand">
                            <span class="" style="font-size: 0.875rem; color: #999999">{{ num }}</span>
                        </td>
                        {% for assoc,nb in person %}
                            {% if assoc == num %}
                                <td class="uk-table-expand">
                                    <span class="text-danger">N/A</span>
                                </td>
                            {% else %}
                                <td class="uk-table-expand">
                                    {% set data =  "" %}
                                    {% set data =  num~"&"~assoc %}

                                    {% if nb.int == true %}
                                        {% if range[0] is defined %}
                                            <a class="text-warning" style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: range[0], end: range[1]}) }}">{{ nb.nb }}</a>
                                        {% else %}
                                            <a class="text-warning" style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: 0, end: 0}) }}">{{ nb.nb }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if range[0] is defined %}
                                            <a style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: range[0], end: range[1]}) }}">{{ nb.nb }}</a>
                                        {% else %}
                                            <a style="text-decoration: inherit; color: inherit" href="{{ path('matrice_commun_details',{numbers: data,start: 0, end: 0}) }}">{{ nb.nb }}</a>
                                        {% endif %}
                                    {% endif %}

                                </td>
                            {% endif%}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-12" style="margin-top: 2rem">
            <table class="table text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th style="width: 10%" class="uk-table-expand">Numéro</th>
                    <th style="width: 25%" class="uk-table-expand">Nom</th>
                    <th style="width: 25%" class="uk-table-expand">CDR</th>
                    <th style="width: 10%" class="uk-table-expand">Occurences</th>
                    <th style="width: 55%" class="uk-table-expand">Personnes concernées</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td >
                            <span class="">{{ contact.num_b }}</span>
                        </td>
                        <td>
                            {% if contact.b_nom == "" or contact.b_nom == "0" or contact.b_nom == null %}
                                <span class="text-warning">PROBABLEMENT NON ID</span>
                            {% elseif contact.b_nom != "" and contact.b_nom != "0" and contact.b_nom != null%}
                                <span> {{ contact.b_nom }}</span>
                            {% else %}
                                {{ contact.b_nom }}
                            {% endif %}
                        </td>
                        <td>
                            {{ contact.has_cdr }}
                        </td>
                        </td>
                        <td>
                            {{ contact.numbers | length }}
                        </td>
                        <td >
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    {% for key,value in contact.numbers %}
                                        <li class="list-group-item">{{ value }} ( {{ key }} )</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>


{% endblock %}

{% block bottom_js %}
    <script>
        jQuery('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            applyButtonClasses: 'btn-primary',
            drops: 'left',
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss'
            }
        }, function(start, end, label) {
            var send = document.getElementById('filter')
            r = start.format('YYYY-MM-DD HH:mm:ss') + '&' + end.format('YYYY-MM-DD HH:mm:ss')
            send.href = '/matrice/contact-communs/'+r
        });
    </script>
{% endblock %}