{% extends '/nav.html.twig' %}

{% block titre %}Acceuil{% endblock%}


{% block content %}


    <nav aria-label="breadcrumb" style="margin-top: 4rem">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item disabled">Matrice des communications</li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col col-12">
            <h4>
                Details des communications entre le
                {{ data.a_person.cNumber }} ( {{ data.a_person.aNom}}  ) et {{ data.b_person.cNumber }} ( {{ data.b_person.aNom}}  )
            </h4>
            <hr>
        </div>
        <div class="col col-12" style="margin-top: 1rem">
            <p class="card-subtitle">
                Date du {{ data.dates.start }} au {{ data.dates.end }}
            </p>
        </div>

        <div class="col col-12" style="margin-top: 3rem">
            <a href="{{ link }}" id="printBtn" class="btn btn-outline-success" style="margin-top: 1rem; color: inherit; text-decoration: inherit">
                <i class="fa fa-file-excel"></i>
                Exporter en excel
            </a>
        </div>

        <div class="col col-12" style="margin-top: 2rem">
            <table class="text-center table table-striped table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">Appels Entrant</th>
                    <th class="uk-table-expand">Appels sortants (Reussis)</th>
                    <th class="uk-table-expand">Repondeur ou echec</th>
                    <th class="uk-table-expand">SMS</th>
                    <th class="uk-table-expand">Total des communications</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="uk-table-expand">
                        <span class="">{{ data.in_com_count }}</span>
                    </td>
                    <td class="uk-table-expand">
                        <span class="">{{ data.success_com_count }}</span>
                    </td>
                    <td class="uk-table-expand">
                        <span class="uk-text-danger">{{ data.drop_com_count }}</span>
                    </td>
                    <td class="uk-table-expand">
                        <span class="">{{ data.sms_count }}</span>
                    </td>
                    <td class="uk-table-expand">
                        <span class="">{{ data.all_com_count }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="col col-12" style="margin-top: 2rem">
            <h4>
                Liste des communications
            </h4>
            <hr>
            <span class="card-subtitle" style="margin-top: 1rem">Date du {{ data.dates.start }} au {{ data.dates.end }}</span>
        </div>

        <div class="col col-12" style="margin-top: 1rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    <th class="uk-table-expand">Flux</th>
                    <th class="uk-table-expand">Type</th>
                    <th class="uk-table-expand">Numero A</th>
                    <th class="uk-table-expand">Numero B</th>
                    <th class="uk-table-expand">Duree en secondes</th>
                    <th class="uk-table-expand">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for key,com in page_com_all  %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ com.flux_appel }}</td>
                        <td>{{ com.data_type }}</td>
                        <td>{{ com.num_a }}</td>
                        <td>{{ com.num_b }}</td>
                        <td>{{ com.duration| date('H:i:s', '+00:00 GMT')}}</td>
                        <td>{{ com.day_time|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-12">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-5">
                    {{ knp_pagination_render(page_com_all,'/paginator/paginator-uikit.html.twig') }}
                </div>
                <div class="col col-4"></div>
            </div>
        </div>

        <div class="col col-12" style="margin-top: 2rem">
            <h4>
                Appels Sortants
            </h4>
            <hr>
            <p style="margin-top: 1rem">Date du {{ data.dates.start }} au {{ data.dates.end }}</p>
        </div>

        <div class="col col-12" style="margin-top: 1rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    <th class="uk-table-expand">Flux</th>
                    <th class="uk-table-expand">Type</th>
                    <th class="uk-table-expand">Numero A</th>
                    <th class="uk-table-expand">Numero B</th>
                    <th class="uk-table-expand">Duree en secondes</th>
                    <th class="uk-table-expand">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for key,com in page_com_success  %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ com.flux_appel }}</td>
                        <td>{{ com.data_type }}</td>
                        <td>{{ com.num_a }}</td>
                        <td>{{ com.num_b }}</td>
                        <td>{{ com.duration| date('H:i:s', '+00:00 GMT')}}</td>
                        <td>{{ com.day_time|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-12">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-5">
                    {{ knp_pagination_render(page_com_success,'/paginator/paginator-uikit.html.twig') }}
                </div>
                <div class="col col-4"></div>
            </div>
        </div>


        <!--------->

        <div class="col col-12" style="margin-top: 2rem">
            <h4>
                Appels Entrants
            </h4>
            <hr>
            <p style="margin-top: 1rem">Date du {{ data.dates.start }} au {{ data.dates.end }}</p>
        </div>

        <div class="col col-12" style="margin-top: 1rem">

            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    <th class="uk-table-expand">Flux</th>
                    <th class="uk-table-expand">Type</th>
                    <th class="uk-table-expand">Numero A</th>
                    <th class="uk-table-expand">Numero B</th>
                    <th class="uk-table-expand">Duree en secondes</th>
                    <th class="uk-table-expand">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for key,com in page_in_com  %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ com.flux_appel }}</td>
                        <td>{{ com.data_type }}</td>
                        <td>{{ com.num_a }}</td>
                        <td>{{ com.num_b }}</td>
                        <td>{{ com.duration| date('H:i:s', '+00:00 GMT')}}</td>
                        <td>{{ com.day_time|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-12">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-5">
                    {{ knp_pagination_render(page_in_com,'/paginator/paginator-uikit.html.twig') }}
                </div>
                <div class="col col-4"></div>
            </div>
        </div>


        <!--------------------->


        <div class="col col-12" style="margin-top: 2rem">
            <h4>
                Appels Echoués (Repondeur)
            </h4>
            <hr>
            <p style="margin-top: 1rem">Date du {{ data.dates.start }} au {{ data.dates.end }}</p>
        </div>


        <div class="col col-12" style="margin-top: 1rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    <th class="uk-table-expand">Type</th>
                    <th class="uk-table-expand">Numero A</th>
                    <th class="uk-table-expand">Numero B</th>
                    <th class="uk-table-expand">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for key,com in page_drop_com  %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ com.data_type }}</td>
                        <td>{{ com.num_a }}</td>
                        <td>{{ com.num_b }}</td>
                        <td>{{ com.day_time|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-12">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-5">
                    {{ knp_pagination_render(page_drop_com,'/paginator/paginator-uikit.html.twig') }}
                </div>
                <div class="col col-4"></div>
            </div>
        </div>





        <div class="col col-12" style="margin-top: 2rem">
            <h4>
                SMS
            </h4>
            <hr>
            <p style="margin-top: 1rem">Date du {{ data.dates.start }} au {{ data.dates.end }}</p>
        </div>


        <div class="col col-12" style="margin-top: 1rem">
            <table class="table table-striped text-center table-justify table-bordered table-responsive">
                <thead>
                <tr>
                    <th class="uk-table-expand">#</th>
                    <th class="uk-table-expand">Flux</th>
                    <th class="uk-table-expand">Type</th>
                    <th class="uk-table-expand">Numero A</th>
                    <th class="uk-table-expand">Numero B</th>
                    <th class="uk-table-expand">Duree en secondes</th>
                    <th class="uk-table-expand">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for key,com in sms_page  %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ com.flux_appel }}</td>
                        <td>{{ com.data_type }}</td>
                        <td>{{ com.num_a }}</td>
                        <td>{{ com.num_b }}</td>
                        <td>{{ com.duration| date('H:i:s', '+00:00 GMT')}}</td>
                        <td>{{ com.day_time|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col col-'Appels Entra12">
            <div class="row">
                <div class="col col-3"></div>
                <div class="col col-5">
                    {{ knp_pagination_render(sms_page,'/paginator/paginator-uikit.html.twig') }}
                </div>
                <div class="col col-4"></div>
            </div>
        </div>

    </div>



{% endblock %}
